@tailwind base;
@tailwind components;
@tailwind utilities;


/* .outlet {
    scrollbar-width: thin;
    scrollbar-color: #00c49f
    #f0f0f0;
} */

.outlet::-webkit-scrollbar {
  min-width: 2px;
  max-width: 8px;
}

.outlet::-webkit-scrollbar-track-piece {
  background: #f0f0f0;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.outlet::-webkit-scrollbar-thumb {
  background: #00c49f;
  border-radius: 20px;
}
